# Imports and Cleaning

In [8]:
import pandas as pd
import numpy as np
import math
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
dataset = pd.read_csv('acoes.csv')
if 'Unnamed: 0' in dataset.columns:
    dataset.drop(columns='Unnamed: 0', inplace=True)
dataset

,Date,ITUB4,BBSE3,BEEF3,CMIG4,ITSA4,PETR3,PETR4,POSI3,IBOVESPA
0,2015-01-02,18.639118,30.350000,9.321634,6.324786,5.606873,9.000000,9.360000,2.03,47.259998
1,2015-01-05,18.732782,29.440001,8.879152,6.161725,5.625216,8.270000,8.560000,2.13,46.320000
2,2015-01-06,19.035812,30.690001,8.751323,6.107371,5.668017,8.060000,8.280000,2.07,46.580002
3,2015-01-07,19.724518,30.200001,9.331467,6.107371,5.882019,8.450000,8.670000,2.09,48.150002
4,2015-01-08,20.033056,30.110001,9.292135,6.057959,5.943163,9.020000,9.230000,2.17,48.509998
...,...,...,...,...,...,...,...,...,...,...
2445,2024-10-28,35.730000,34.380001,5.620000,11.290000,10.770000,39.320000,36.090000,6.70,127.839996
2446,2024-10-29,35.349998,34.500000,5.790000,11.370000,10.700000,39.220001,36.009998,6.35,127.250000
2447,2024-10-30,35.250000,34.500000,5.960000,11.380000,10.670000,38.880001,35.849998,6.57,127.230003
2448,2024-10-31,35.020000,34.270000,5.800000,11.370000,10.610000,39.060001,35.910000,6.41,126.260002
2449,2024-11-01,34.810001,34.279999,5.760000,11.360000,10.510000,38.299999,35.419998,6.06,124.599998

# Cálculo Anual

In [10]:
dataset.describe()
# Mean é a media do valor de cada ação (Acumulado de todos os anos)
# Std é a variação média que a ação tem. A variação por ser positiva ou negativa (Indicador significad desvio Padrão)

,ITUB4,BBSE3,BEEF3,CMIG4,ITSA4,PETR3,PETR4,POSI3,IBOVESPA
count,2450.000000,2450.000000,2450.000000,2450.000000,2450.000000,2450.000000,2450.000000,2450.000000,2423.000000
mean,27.206279,28.960200,9.850847,6.541509,8.248776,24.744449,22.902833,5.274094,88.577363
std,5.743042,4.006290,2.408647,2.276546,1.706118,9.683522,9.169787,3.229065,26.067666
min,13.981818,18.400000,4.631318,2.119791,4.233560,5.910000,4.200000,1.240000,36.450001
25%,23.455000,26.480000,7.994186,4.309661,7.135541,16.054999,15.062500,2.420000,63.490000
50%,27.175000,28.735000,9.900000,6.853652,8.336171,26.650000,24.310000,3.995000,95.379997
75%,32.033333,32.029999,11.602878,8.261242,9.574020,31.520000,29.270000,7.707500,110.199997
max,39.689999,38.320000,16.059999,12.010000,11.782778,44.540001,42.900002,15.580000,133.619995

## 2020

In [11]:
# Pegando a empresa com maior variação de valor
dataset['PETR3'][dataset['Date'] == '2020-01-02'], dataset['PETR3'][dataset['Date'] == '2020-12-30']

(1243    32.799999
 Name: PETR3, dtype: float64,
 1490    28.85
 Name: PETR3, dtype: float64)

In [12]:
# Taxa de Retorno Logaritmica 
np.log(28.85 / 32.8) * 100

-12.831852243598929

In [13]:
# Empresa com menor variação de valor
dataset['ITSA4'][dataset['Date'] == '2020-01-02'], dataset['ITSA4'][dataset['Date'] == '2020-12-30']

(1243    11.782778
 Name: ITSA4, dtype: float64,
 1490    9.631497
 Name: ITSA4, dtype: float64)

In [14]:
# Taxa de Retorno Logaritmica 
np.log(9.6 / 11.8) * 100

-20.633643299782857

## 2021

In [15]:
# Pegando a empresa com maior variação de valor
dataset['PETR3'][dataset['Date'] == '2021-01-04'], dataset['PETR3'][dataset['Date'] == '2021-12-30']

(1491    29.5
 Name: PETR3, dtype: float64,
 1737    30.700001
 Name: PETR3, dtype: float64)

In [16]:
# Taxa de Retorno Logaritmica 
np.log(30.7 / 29.5) * 100

3.9872391247377355

In [17]:
# Empresa com menor variação de valor
dataset['ITSA4'][dataset['Date'] == '2021-01-04'], dataset['ITSA4'][dataset['Date'] == '2021-12-30']

(1491    9.483699
 Name: ITSA4, dtype: float64,
 1737    7.699039
 Name: ITSA4, dtype: float64)

In [18]:
# Taxa de Retorno Logaritmica 
np.log(7.7 / 9.5) * 100

-21.007146974685703

## 2022

In [19]:
# Pegando a empresa com maior variação de valor
dataset['PETR3'][dataset['Date'] == '2022-01-03'], dataset['PETR3'][dataset['Date'] == '2022-12-29']

(1738    31.52
 Name: PETR3, dtype: float64,
 1987    28.040001
 Name: PETR3, dtype: float64)

In [20]:
# Taxa de Retorno Logaritmica 
np.log(28 / 31.52) * 100

-11.841775481447446

In [21]:
# Empresa com menor variação de valor
dataset['ITSA4'][dataset['Date'] == '2022-01-03'], dataset['ITSA4'][dataset['Date'] == '2022-12-29']

(1738    7.776633
 Name: ITSA4, dtype: float64,
 1987    8.070628
 Name: ITSA4, dtype: float64)

In [22]:
# Taxa de Retorno Logaritmica 
np.log(8 / 7.8) * 100

2.531780798429

## 2023

In [23]:
# Pegando a empresa com maior variação de valor
dataset['PETR3'][dataset['Date'] == '2023-01-02'], dataset['PETR3'][dataset['Date'] == '2023-12-28']

(1988    26.17
 Name: PETR3, dtype: float64,
 2235    38.98
 Name: PETR3, dtype: float64)

In [24]:
# Taxa de Retorno Logaritmica 
np.log(38.98 /26.17 ) * 100

39.84349775373601

In [25]:
# Pegando a empresa com maior variação de valor
dataset['ITSA4'][dataset['Date'] == '2023-01-02'], dataset['ITSA4'][dataset['Date'] == '2023-12-28']

(1988    7.928372
 Name: ITSA4, dtype: float64,
 2235    10.37
 Name: ITSA4, dtype: float64)

In [26]:
# Taxa de Retorno Logaritmica 
np.log(10.37 /7.9 ) * 100

27.205426276846005

## 2024

In [27]:
# Pegando a empresa com maior variação de valor
dataset['PETR3'][dataset['Date'] == '2024-01-02'], dataset['PETR3'][dataset['Date'] == '2024-11-01']

(2236    39.360001
 Name: PETR3, dtype: float64,
 2449    38.299999
 Name: PETR3, dtype: float64)

In [28]:
# Taxa de Retorno Logaritmica 
np.log(38.3 /39.6 ) * 100

-3.3379222073834716

In [29]:
# Pegando a empresa com maior variação de valor
dataset['ITSA4'][dataset['Date'] == '2024-01-02'], dataset['ITSA4'][dataset['Date'] == '2024-11-01']

(2236    10.17
 Name: ITSA4, dtype: float64,
 2449    10.51
 Name: ITSA4, dtype: float64)

In [30]:
# Taxa de Retorno Logaritmica 
np.log(10.51 / 10.17 ) * 100

3.2884974828391056

# Variância

In [31]:

taxas_petrobras = np.array([-12.8, 3.99, -11.8, 39.85, -3.3]) # Todas as taxas de desvio de 2020 - 2024 
media_petrobras = taxas_petrobras.sum() / len(taxas_petrobras)
# media_petrobras = taxas_petrobras.mean()
media_petrobras

3.188

In [32]:
variancia_petrobras = ((taxas_petrobras - media_petrobras) ** 2).sum() / len(taxas_petrobras)
#variancia_petrobras = taxas_petrobras.var()
variancia_petrobras

373.419176

In [33]:

taxas_itausa = np.array([-20.6, -21, 2.5, 27.2, 3.2]) # Todas as taxas de desvio de 2020 - 2024 
media_itausa = taxas_itausa.sum() / len(taxas_itausa)
# media_itausa = taxas_itausa.mean()
media_itausa

-1.7400000000000007

In [34]:
variancia_itausa = ((taxas_itausa - media_itausa) ** 2).sum() / len(taxas_itausa)
#variancia_itausa = taxas_itausa.var()
variancia_itausa

321.3104

In [ ]:
dataset['PETR3'].tail(500).var(), dataset['ITSA4'].tail(500).var()

(28.84446839324308, 1.071370618819071)

: