In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [37]:
dataset = pd.read_csv('acoes.csv')

In [38]:
if 'Unnamed: 0' in dataset.columns:
    dataset.drop(columns=['Unnamed: 0'], inplace=True)

In [39]:
dataset

,Date,ITUB4,BBSE3,BEEF3,CMIG4,ITSA4,PETR3,PETR4,POSI3,IBOVESPA
0,2015-01-02,18.639118,30.350000,9.321634,6.324786,5.606873,9.000000,9.360000,2.03,47.259998
1,2015-01-05,18.732782,29.440001,8.879152,6.161725,5.625216,8.270000,8.560000,2.13,46.320000
2,2015-01-06,19.035812,30.690001,8.751323,6.107371,5.668017,8.060000,8.280000,2.07,46.580002
3,2015-01-07,19.724518,30.200001,9.331467,6.107371,5.882019,8.450000,8.670000,2.09,48.150002
4,2015-01-08,20.033056,30.110001,9.292135,6.057959,5.943163,9.020000,9.230000,2.17,48.509998
...,...,...,...,...,...,...,...,...,...,...
2445,2024-10-28,35.730000,34.380001,5.620000,11.290000,10.770000,39.320000,36.090000,6.70,127.839996
2446,2024-10-29,35.349998,34.500000,5.790000,11.370000,10.700000,39.220001,36.009998,6.35,127.250000
2447,2024-10-30,35.250000,34.500000,5.960000,11.380000,10.670000,38.880001,35.849998,6.57,127.230003
2448,2024-10-31,35.020000,34.270000,5.800000,11.370000,10.610000,39.060001,35.910000,6.41,126.260002
2449,2024-11-01,34.810001,34.279999,5.760000,11.360000,10.510000,38.299999,35.419998,6.06,124.599998

## ITUB

In [40]:
## Retorno Simples

preco_final = dataset['ITUB4'][len(dataset) -1 ]
preco_inicial = dataset['ITUB4'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

86.7577693853196

In [41]:
dataset[' RSD ITUB4'] = (dataset['ITUB4'] / dataset['ITUB4'].shift(1)) - 1

In [46]:
(dataset[' RSD ITUB4'].mean() * 246 )* 100

11.02581451709626

In [ ]:
np.log(dataset['ITUB4'][len(dataset) -1 ] /dataset['ITUB4'][0])

## BBSE3

In [21]:
## Retorno Simples

preco_final = dataset['BBSE3'][len(dataset) -1 ]
preco_inicial = dataset['BBSE3'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

12.94892371805906

In [48]:
dataset[' RSD BBSE3'] = (dataset['BBSE3'] / dataset['BBSE3'].shift(1)) - 1

In [49]:
(dataset[' RSD BBSE3'].mean() * 246 )* 100

5.5456531053228115

## BEEF3

In [22]:
## Retorno Simples

preco_final = dataset['BEEF3'][len(dataset) -1 ]
preco_inicial = dataset['BEEF3'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

-38.208257821776435

In [50]:
dataset[' RSD BEEF3'] = (dataset['BEEF3'] / dataset['BEEF3'].shift(1)) - 1

In [ ]:
(dataset[' RSD BEEF3'].mean() * 246 )* 100

## CMIG4

In [23]:
## Retorno Simples

preco_final = dataset['CMIG4'][len(dataset) -1 ]
preco_inicial = dataset['CMIG4'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

79.6108093176452

## ITSA4

In [24]:

## Retorno Simples

preco_final = dataset['ITSA4'][len(dataset) -1 ]
preco_inicial = dataset['ITSA4'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

87.44851475086246

## PETR3

In [25]:
## Retorno Simples

preco_final = dataset['PETR3'][len(dataset) -1 ]
preco_inicial = dataset['PETR3'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

325.55554707845056

## PETR4

In [ ]:
## Retorno Simples

preco_final = dataset['PETR4'][len(dataset) -1 ]
preco_inicial = dataset['PETR4'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

## POSI3

In [26]:

## Retorno Simples

preco_final = dataset['POSI3'][len(dataset) -1 ]
preco_inicial = dataset['POSI3'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)

198.5221688762275

## IBOVESPA

In [ ]:
## Retorno Simples
preco_final = dataset['IBOVESPA'][len(dataset) -1 ]
preco_inicial = dataset['IBOVESPA'][0]

taxa_retorno_S = ((preco_final - preco_inicial) / preco_inicial)*100
print(taxa_retorno_S)